.grouped-options {
    /* padding: 1rem 1.5rem; */
    border-top: 1px solid #e0e0e0;
    padding-top: 30.5px;
    .text-center {
        text-align: center;
    }
    .product-options-group-item {
        margin-top: 17px;
        ~ .product-options-group-item {
            margin-top: 30px;
        }
    }
    .option-title {
        color: #000000;
        line-height: 17px;
    }
    .option-number {
        text-align: center;
        color: #4f4f4f;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        -moz-appearance: textfield;
    }
    .price-simple {
        font-weight: bold;
        line-height: 14px;
        margin-top: 10px;
    }
}
