.root {
    position: absolute;
    width: 16px;
    height: 16px;
    background:#0082FF;
    color: #fff;
    border-radius: 100%;
    z-index: 5;
    font-size: 10px;
    line-height: 13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    top: -2px;
    right: 6px;
}
