.item-review-rate {
    display: flex;
    justify-content: center;
}

.static-rate {
    display: inline-flex;
    align-items: center;
    margin-right: 3.25px;
}

.item-review-count {
    display: inline-flex;
    align-items: center;
    margin-left: 3.25px;
    color: #727272;
    font-family: "Nunito";
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
}

@media (max-width: 1023px) {
    .item-review-rate svg {
        width: 75px !important;
    }
}
