.static-page .policy-cms-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 140px;
    .policy-title {
        h1 {
            &:before {
                display: inline-block;
                content: "";
                border-top: .1rem solid #101820;
                width: 3.9rem;
                margin: 0 1rem;
                transform: translateY(-0.7rem);
            }
            font-size: 20px;
            line-height: 27px;
            color: #000;
            font-weight: 600;
            margin: 0;
        }
    }
    
    .policy-content {
        width: 66.21%;
        ul > li {
            margin-top: 35px;
            &:first-child {
                margin-top: 0;
            }
        }
        h3 {
            margin: 0;
            font-size: 25px;
            line-height: 33px;
            color: #000;
            font-family: 'Playfair Display';
            font-weight: 400;
        }

        p {
            font-size: 14px;
            line-height: 25px;
            text-align: justify;
            color: #000;
            margin: 0;
            font-weight: 400;
            margin-top: 8px;
        }
    }
}

@media (max-width: 1023px) {
    .static-page .policy-cms-page {
        .policy-title {
            width: 100%;
        }

        .policy-content {
            width: 100%;
            .content-item {
                &:first-child {
                    margin-top: 35px;
                }
            }
        }
    }
}