.root {
    margin-top: 10px;
    border: 1px solid rgb(var(--venia-global-color-text));
    min-height: 35px;
    height: auto;
    min-width: 71px;
    border: 1px solid #E0E0E0;
    outline: none;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 9px 16px;
}

.root span {
    line-height: 18px;
}

.root:not(:last-child) {
    margin-right: 25px;
}
/* 
@media (min-width: 1024px) {
    .root {

        box-sizing: border-box;
        border: 1px solid #E0E0E0;
    }
} */

.root_selected {
    composes: root;
    background-color: #828282;
    color: white;
}

.root_focused {
    composes: root;
}

.root_selected_focused {
    composes: root_selected;
}
