.contact-page {
    padding-top: 30px;
    padding-bottom: 30px;
}

.form-container{
}

.form-container h2{
    color: #333132;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    border-bottom: 1px solid #e6e6e6;
}

.form-container .base-textField {
    height: 45px !important;
    border: 1px solid rgba(51, 49, 50, 0.4);
    font-size: 16px !important;
    padding: 10px 16px !important;
    line-height: 24px !important;
}

.form-container .base-textareaField{
    border: 1px solid rgba(51, 49, 50, 0.4);
    font-size: 16px;
    padding: 10px 16px;
    line-height: 24px;
    resize: vertical;
}

.contact-action-flex {
    display: flex;
    justify-content: space-between;
}

.requirement{
    color: #fa0a11;
    font-size: 12px;
    line-height: 20px;
}

.submit-btn{
    background-color: #0b5b28;
    width: 100px;
    height: 35px;
    color: white;
    padding-top: 0;
}

.contact-info h1 {
    color: #333132;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-info .contact-item{
    display: flex;
    align-items: flex-start;
    padding-bottom: 12px;
}

.contact-item .item-content{
}

.contact-item .contact-title {
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 600;
}