.tier-prices-layout  {
    font-size: 16px;
    line-height: 19px;
    color: #999999;
    span.price {
        font-size: 16px;
        line-height: 19px;
        color: #6D9EEB;
        font-weight: bold;
    }
}

.siminia-product-grid-item {
    .price-configurable {
        .price-value {
            .as-low-as {
                margin-right: 5px;
            }
        }
    }
}