.grid-item-quantity {
    display: flex;
    align-items: center;
    .btn-plus, .btn-minus {
        width: 30px;
        height: 30px;
        background-color: #0082FF;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
    }

    .quantity-input {
        width: 30px;
        height: 30px;
        border: 1px solid #F5F5F5;
        background: #F5F5F5;
        margin: 0 8px;
        padding: 6px;
    }
}