<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <siminiaconfig>
            <related_product>
                <enable>1</enable>
                <backend_enable>1</backend_enable>
                <limit>10</limit>
            </related_product>
            <footer>
                <footer_1_title>Customer Services</footer_1_title>
                <footer_2_title>Our policies</footer_2_title>
            </footer>
            <custom_email>
                <email_header_template>simi_header_template</email_header_template>
                <email_footer_template>simi_footer_template</email_footer_template>
            </custom_email>
            <electronic>
                <url>https://cloud9albahar.com/</url>
            </electronic>
        </siminiaconfig>
    </default>
</config>