<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Related" type="Simi\Simiconnector\Block\Adminhtml\Product\Edit\Tab\Related" /> -->
    <preference for="Magento\QuoteGraphQl\Model\CartItem\DataProvider\CustomizableOptionValue\PriceUnitLabel" type="Simi\Simicustomize\Model\CartItem\DataProvider\CustomizableOptionValue\PriceUnitLabel" />
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="SimiAddOrderItemPlugin" type="Simi\Simicustomize\Plugin\Model\Quote\Item\ToOrderItem" sortOrder="99"/>
    </type>

    <type name="Magento\Framework\GraphQl\Query\QueryComplexityLimiter">
        <arguments>
            <argument name="queryDepth" xsi:type="number">30</argument>
            <argument name="queryComplexity" xsi:type="number">500</argument>
        </arguments>
    </type>
    <preference for="Magento\Sitemap\Model\Sitemap" type="Simi\Simicustomize\Model\Sitemap" />
</config>