<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
    <event name="simiconnectorgrapqhl_get_storeview_info_after">
        <observer name="Simi_Simicustomize_simiconnectorgrapqhl_get_storeview_info_after"
                  instance="Simi\Simicustomize\Observer\GetStoreviewInfoAfter" />
    </event>
    <event name="simi_simiconnector_model_server_initialize">
        <observer name="Simi_Simicustomize_Simiconnector_Model_Server_Initialize" 
                  instance="Simi\Simicustomize\Observer\SimiconnectorModelServerInitialize" />
    </event>
    <event name="simiconnector_system_rest_modify">
        <observer name="Simi_Simicustomize_simiconnector_system_rest_modify"
                  instance="Simi\Simicustomize\Observer\SimiSystemRestModify" />
    </event>
    
    <event name="sales_order_save_after">
        <observer name="simi_sales_order_save_after" instance="Simi\Simicustomize\Observer\SalesOrderSaveAfter" />
    </event>

    <event name="email_order_set_template_vars_before">
        <observer name="simi_email_order_set_template_vars_before" instance="Simi\Simicustomize\Observer\SimiEmailSetTemplateVarsBefore" />
    </event>

    <event name="email_invoice_set_template_vars_before">
        <observer name="simi_email_invoice_set_template_vars_before" instance="Simi\Simicustomize\Observer\SimiEmailSetTemplateVarsBefore" />
    </event>

    <event name="email_shipment_set_template_vars_before">
        <observer name="simi_email_shipment_set_template_vars_before" instance="Simi\Simicustomize\Observer\SimiEmailSetTemplateVarsBefore" />
    </event>
</config>